@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Inter", sans-serif;
    transition: all 0.2s ease-out;
}

:root {
    --main-color: #ffa79f;
    --extra-color: #e65976;
}

.nav-link:focus {
    outline: none;
  }
  

.hover-highlight:hover {
    background-color: var(--main-color);
    color: white !important;
    transition: 0.1s;
}

.dropdown-item:hover {
    background-color: var(--extra-color) !important; /* Change to your desired color */
    color: white !important;              /* Optional: change text color */
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.container::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }
  
  /* For IE, Edge */
.container::-ms-scrollbar {
    display: none;
  }

.timetable-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time-item.hoverable:hover {
    background-color: var(--main-color) !important;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;

    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
}

.overlay .btn-custom {
    width: 100%;
    height: 2rem;
    padding: 0;
    margin-bottom: 5px;

    border: 0;
    line-height: 1.75;
    font-size: 0.75rem;
}

.btn-secondary {
    background-color: var(--main-color) !important;
}

.btn-secondary:hover {
    background-color: var(--extra-color) !important;
}

.btn-white-edges {
    padding: 0.5rem;

    border: solid white 2px;
    color: white;
    background-color: var(--main-color);
    font-size: larger;
}

.btn-white-edges:hover {
    background-color: var(--extra-color);
}

.btn-white-edges.toggle:hover {
    background-color: inherit;
}


.form-switch .form-check-input {
    height: 2em;
    width: 3em !important;
    
    margin: 0;
    margin-left: -2em !important;
    padding: 0;
}
.form-switch .form-check-input:focus {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(0,0,0,0.25)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: var(--extra-color);
    border-color: var(--extra-color);
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}

.make-public {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
