{% extends 'registration/base.html' %}
{% load static %}
{% load widget_tweaks %}
{{ form.identifier|add_class:"form-control form-control-lg" }}

{% block title %} Password Reset {% endblock %}

{% block content %}
<section class="vh-100" style="background-color: #ffa79f;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
            <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
                <div class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="{% static 'pink-swirl.jpeg' %}"
                    alt="login form" class="img-fluid mb-1 mx-1" 
                    style="border-color: white; 
                           border-style: solid; 
                           border-width: 0.5rem; 
                           border-radius: 1rem 0 0 1rem; 
                           object-fit: cover;
                           height: 100%;" />
                </div>
                <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black">  
                    <div class="d-flex align-items-center mb-3 pb-1">
                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                        <span class="h1 fw-bold mb-0"> Organese </span>
                    </div>
                    
                    {% if form.identifier.errors %}
                        {% for error in form.identifier.errors %}
                        <p style="color:red; margin-top:0;">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                    <h5 class="fw-normal mb-2 pb-3" style="letter-spacing: 1px;"> Reset your your password </h5>
    
                    <form action="" method="POST">
                        {% csrf_token %}
                        <div data-mdb-input-init class="form-outline mb-2">
                            <input type="text" name="identifier" id="reset"
                                class="form-control form-control-lg"
                                autocomplete="reset"
                                value="{{ form.identifier.value|default:'' }}">
                            <label class="form-label" for="reset">Email/Username</label>
                        </div>

                        <div class="pt-1 mb-2">
                            <button class="btn btn-dark btn-lg btn-block" type="submit"> Reset </button>
                        </div>
    
                        <p class="mb-5 pb-lg-2" style="color: #393f81;"> Remember your password? <a href="/accounts/login"
                            style="color: #393f81;"> Login instead </a></p>
                    </form>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
</section>
{% endblock %}

