{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app-styles.css' %}">  
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %} 
    <style>
      .bg-primary {
          background-color: #e65976  !important;
      }
      .bg-secondary {
          background-color: #ffa79f !important;
      }
    </style>
</head>
<body class="bg-secondary">
    <nav class="navbar navbar-expand-md navbar-light shadow bg-light">
        <a class="ms-4 navbar-brand" href="#"> Organese </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item active ml-auto">
              <a class="nav-link fs-5 hover-highlight px-4" href="#" id="logout-link"> Logout </a>
              <form id="logout-form" action="{% url 'logout' %}" method="POST" style="display: none;">
                {% csrf_token %}
                <button type="submit" style="display: none;"> Logout </button>
              </form>
            </li>
            <li class="nav-item ml-auto">
              <a class="nav-link fs-5 hover-highlight px-4" href="#"> Features </a>
            </li>
            <li class="nav-item ml-auto">
              <a class="nav-link fs-5 hover-highlight px-4" href="#"> Pricing </a>
            </li>
            <li class="nav-item dropdown w-100 ml-auto">
                <a class="nav-link text-black-50 fs-5 hover-highlight px-4" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  About
                </a>
                <ul class="w-auto dropdown-menu dropdown-menu-end border-0 mt-2 ml-2 rounded-0 bg-light shadow px-2 pt-0 pb-2" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item text-end text-secondary bg-light fs-5" href="#"> Intructions </a></li>
                  <li><a class="dropdown-item text-end text-secondary bg-light fs-5 mt-2" href="#"> My Story </a></li>
                  <li><a class="dropdown-item text-end text-secondary bg-light fs-5 mt-2" href="#"> Contact Me </a></li>
                </ul>
            </li>
          </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <script src="{% static 'app-utils.js' %}"></script>

    {% block scripts %}{% endblock %}
</body>
</html>