{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %} Organese {% endblock %}

{% block content %}
<div class="timetable-container">
    <div class="container mt-5 mx-2" style="max-height: 500px; overflow-y: auto;">
        <div class="d-flex" style="width: 100%; overflow-x: auto;">
            <!-- Sticky time column -->
            <div class="bg-light border border-1"
                 style="min-width: 150px; position: sticky; left: 0; z-index: 2; background-color: #f8f9fa;">
                <h5 class="text-center py-3">time/day</h5>
                {% for hour in 0|to:24 %}
                <div class="bg-light p-2 text-center justify-content-center text-wrap" style="height: 100px;">{{ hour }}:00</div>
                {% endfor %}
            </div>

            <!-- This the column for each of the week days -->
            <div class="d-flex" style="overflow-x: auto; white-space: nowrap; width: 100%; background-color:#e65976;">
                {% for day in days %}
                <div class="bg-light border border-1 p-0 m-0" style="min-width: 175px; flex-shrink: 0;">
                    <h5 class="text-center py-3">{{ day }}</h5>
                    {% for hour in 0|to:24 %}
                    <div class="bg-light p-2 text-start time-item text-wrap border-top hoverable"
                        data-day="{{ day }}" data-hour="{{ hour }}"
                        style="position: relative; height: 100px; overflow-y: hidden; cursor: pointer">
                        <p style="font-size: small;"></p>
                        <div class="overlay flex-column justify-content-center align-items-stretch w-100 p-3">
                            <button class="btn btn-secondary btn-custom add" type="button">Add new</button>
                            <button class="btn btn-secondary btn-custom edit" type="button">Edit</button>
                            <button class="btn btn-secondary btn-custom delete" type="button">Delete</button>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    
    <button type="button" class="btn-generate">Generate Schedule</button>

</div>
{% endblock %}

{% block scripts %}
<script defer src="{% static 'app-timetable.js' %}"></script>
<script defer src="{% static 'app-interactions.js' %}"></script>
{% endblock %}
