{% extends 'base.html' %}
{% load custom_filters %}

{% block title %} Organese {% endblock %}

{% block content %}
<div class="timetable-container">
    <div class="container mt-5 mx-2" style="max-height: 500px; overflow-y: auto;">
        <div class="row overflow-auto" style="white-space: nowrap">
            <div class="col bg-light border border-1" style="min-width: 150px;">
                <h5 class="text-center py-3"> time/day </h5>
                {% for hour in 0|to:24 %}
                <div class="bg-light p-2 text-center justify-content-center text-wrap" style="height: 100px;"> {{ hour }}:00 </div>
                {% endfor %}
            </div>
            {% for day in days %}
            <div class="col bg-light border border-1 p-0" style="min-width: 150px;">
                <h5 class="text-center py-3"> {{ day }} </h5>
                {% for hour in 0|to:24 %}
                <div class="bg-light p-2 text-start time-item text-wrap border-top hoverable" style="height: 100px; overflow-y: hidden; cursor: pointer">
                    <p style="font-size: small;"></p>
                </div>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}